<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Information view</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8" />
</head>
<body>
<div>
    <ul>
        <li>
    <a th:href="@{/information}">Information</a>
        </li>
    </ul>
    <div>
        <img th:src="@{~/resources/img/greenfox.png}" th:width="200" th:height="200">
    </div>
    <div th:object="${fox}">
        <p th:text="'This is ' + ${fox.name} + '. Currently living on ' + ${fox.food} + ' and ' + ${fox.drink} +
        '. He knows ' + ${fox.trickRepository.findAllByLearned().size()} + ' tricks.'">
        </p>
    </div>
    <div>
        <h1>Known tricks</h1>
        <ul th:each="trick : ${fox.trickRepository.findAllByLearned}">
            <li th:text="${trick}"/>
        </ul>
    </div>
</div>
</body>
</html>